:host {
  .files-preview {
    margin-top: 16px;
  }

  .action-buttons {
    margin-top: 16px;
  }

  .resultados {
    margin-top: 16px;
  }

  ion-thumbnail {
    width: 96px;
    height: 96px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
  }

  ion-thumbnail img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
}
