// frontend/src/app/cash-register/cash-register.component/cash-register.component.scss

ion-card {
  margin: 16px;
}

ion-card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

ion-button {
  margin: 6px 16px;
}

ion-list-header {
  margin-top: 20px;
  padding-left: 16px;
  font-weight: bold;
  font-size: 1rem;
}
