<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <strong>OemPOS</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <div class="logo-container">
      <img src="assets/icon/oempos-logo.png" alt="OemPOS Logo" class="logo">
      <h1 class="ion-text-center">Sistema de Punto de Venta</h1>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="ion-text-center">Iniciar Sesión</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input formControlName="username" type="text"></ion-input>
          </ion-item>
          <div *ngIf="submitted && f.username.errors" class="error-message">
            <div *ngIf="f.username.errors.required">Usuario es requerido</div>
          </div>

          <ion-item class="ion-margin-top">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
          <div *ngIf="submitted && f.password.errors" class="error-message">
            <div *ngIf="f.password.errors.required">Contraseña es requerida</div>
          </div>

          <ion-button expand="block" type="submit" class="ion-margin-top">
            <ion-spinner *ngIf="isLoading" name="circles"></ion-spinner>
            <span *ngIf="!isLoading">Ingresar</span>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </form>

    <div class="version-info ion-text-center">
      <p>OemPOS v1.0.0</p>
    </div>
  </div>
</ion-content>