// frontend/src/app/productos/lista/productos-lista.component.scss

// Estilos específicos para el componente de listado de productos
ion-item h2 {
    font-weight: 500;
  }
  
  ion-item ion-note {
    font-weight: 600;
    font-size: 0.9rem;
  }
  
  .ion-text-center ion-icon {
    font-size: 64px;
    margin: 20px 0 10px;
    opacity: 0.7;
  }